<!DOCTYPE html>
<html>
<head>
  <title>TwitterRatchetRails</title>
  <%= stylesheet_link_tag    "twitter_ratchet_rails/application", media: "all" %>
  <%= javascript_include_tag "twitter_ratchet_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
